h1{
    font-size: 8vh;
    color: rgb(3, 192, 192);
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: rgba(48, 48, 48, 0.6);
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px 0px 10px;
    align-items: center;
    height: 3vh;
    width: 100%;
    font-size: .6em;
}