
.dropscreen-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropzone {
    height: 60vh;
    width: 60vw;
    background-color: rgb(235, 233, 233);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: .24s ease-in-out;
    border: 3px dotted rgb(192, 192, 192);
}

.dropzone:hover{
    background-color: rgb(216, 214, 214);
}

.dropzone:focus{
    border: 3px dotted rgb(123, 232, 247);
}

.dropzone p {
    font-size: larger;
    color: rgb(148, 148, 148);
}