.search-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar{
    width: 80%;
    background-color: rgb(245, 245, 245);
    border: 3px solid rgb(184, 184, 184);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    transition: .24s ease-in-out;
}

.searchbar:hover{
    border: 3px solid rgb(33, 110, 253);
}

.searchbar input{
    width: 80%;
    height: 100%;
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 4em;
    padding-left: 2vw;
}

.searchbar input::placeholder{
    color: rgb(201, 201, 201);
}

.mag-glass{
    cursor: pointer;
}

.loaded-file{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(204, 204, 204);
    padding: 5px;
    border: 1px dotted rgb(117, 117, 117);
    max-width: 300px;
    overflow-x: hidden;
    cursor: pointer;
}

.loaded-file-container{
    margin-top: 5vh;
    width: 80%;
    display: flex;
    padding: 10px;
}

.cancel-icon{
    align-self: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: rgb(153, 0, 0);
}

.search{
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
}

.results-container{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.result{
    margin: 10px;
    padding: 10px;
    border: 2px dotted rgb(173, 173, 173);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 2em;
    overflow-y: hidden;
}

.result-index{
    color:rgb(4, 204, 204)
}
